/*{border: rgb(255, 255, 255) solid 1px;}*/
/*
purple: rgb(88, 34, 60)  solid 2px;
green: rgb(130, 135, 32) ;
white: rgb(247, 246, 233) ;}*/


@font-face {
    font-family: 'Chido';
    src: url('chido.otf') format('opentype');
}

@font-face {
    font-family: 'ClaireBold';
    src: url('clairehandbold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.hidden {
    display: none !important;
}

body {  
    margin: 0;
    padding: 0;
    /*background-color: rgb(250, 237, 222);*/
    /*background-color: rgb(88, 34, 60);*/
    background-color: rgb(88, 34, 60);
    font-family: 'ClaireBold';
    font-size: 25px;
    color: rgb(247, 246, 233);
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    margin-bottom: 10vh;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 20vh;*/
    margin: 0;
    padding: 0;
}

#froggo-and-logo {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    /*height: 21vh;*/
    background-color: rgb(88, 34, 60);
    padding-top: 10px;
    padding-bottom: 10px;
}

#fwl {
    /*position: fixed;
    top: 0px;
    width: 90%;*/
    opacity: 1;
    max-width: 1100px;
    height: 80px;
    width: auto;
    padding-top: 5px;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /**/
    background-color: rgb(88, 34, 60);
    padding-top: 5px;
    padding-bottom: 4px;
    box-sizing: border-box;
  position: relative;
}

.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    /*transition: top 0.3s ease;*/
}

#both {
    margin: 0;
    padding: 0;
    border: rgb(247, 246, 233) solid 2px;
    background-color: rgb(202, 210, 67);
    position: relative;
    display: inline-block;
    overflow: visible;
    border-radius: 14px;

}

#both.open {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;

}

#menu {
    margin: 0;
    padding: 0;
    /*border: rgb(88, 34, 60);*/
    background-color: rgb(130, 135, 32);
    border: none;
    color: (247, 246, 233);
    position: relative;
    z-index: 2;
}

#menu.open {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ClaireBold';
    width: 170px;
    height: 50px;
    font-size: 40px;
    border: rgb(202, 210, 67) solid 1px;
    background-color: rgb(202, 210, 67);
    border-radius: 14px;
    color: rgb(247, 246, 233);
    /*cursor: pointer;
    flex: 0 0 auto;
    scroll-snap-align: start;*/
}

#button-container {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(202, 210, 67);
    border-radius: 15px;
    top: 100%;
    left: 0%;
    position: absolute;
    z-index: 1;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
    border: rgb(247, 246, 233) solid 2px;
    border-radius: 15px;
    border-top: none;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin-left: -2px;

    /*overflow-x: scroll;
    rgb(247, 246, 233)-space: nowrap;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;*/
}

.show #button-container {
    display: flex;
}



#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /*width: 85%;*/
    text-align: center;

}

#request-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.page-open {
    justify-content: space-evenly !important;
}

#submit {
    justify-self: center;
    margin: 0 auto;
    width: 170px;
    font-size: 30px;
    color: rgb(88, 34, 60);
    background-color: rgb(247, 246, 233);
}

#bodyInput {
    height: 100px;
    width: 320px;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}



#support-container {
    flex-direction: column;
}



.input {
    border-radius: 15px;
    border: rgb(247, 246, 233) solid 3px;
    background-color: rgb(247, 246, 233);
    color: rgb(88, 34, 60);
    font-family: 'ClaireBold';
    font-size: 16px;
    height: 30px;
    width: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#art-box, #shop-box, #request-box, #support-box {
    /*margin-bottom: 13vh;*/

}

.art, .out {
    width: 300px;
    border-radius: 15px;
    border: rgb(247, 246, 233) solid 3px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#about-container, #shop-container, #request-container, #support-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(247, 246, 233) solid 3px;
    border-radius: 15px;
    background-color: #c37028;
    padding: 3vw;
    /*margin-bottom: 10vh;*/
    width: 85vw;
    font-size: 25px;
    color: rgb(247, 246, 233);
}


#ig-logo-container {
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    background-color: rgb(88, 34, 60);
    bottom: 0; /* Adjust as needed */
    width: 100vw; /* Adjust as needed */
    height: 51px;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it's above other content */
    padding-top: 4px;
}

#ig-logo-container.show {
    display: flex;
}
/*
 #ig-logo-container img {
    justify-self: center;
    width: 45px;
    height: auto;
} */

#ig-logo {
    height: auto;
    
    width: 45px;
}





/*Buttons (phone):
#request, #support {
    width: 150px;
}
#art, #out {
    width: 85px;
}
#shop {
    width: 95px;
}
#about {
    width: 120px;
}*/

.open-buttons {
    font-size: 30px;
    width: 110px;
}

/*.indicator {
    display: none;
    font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;

}*/



@media (min-width: 800px) {

    body {
        font-size: 20px;
        position: static;
    }
    #header {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(88, 34, 60);
        height: 20vh;
    }
    #froggo-and-logo {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 30px;
        padding-bottom: 10px;
        background-color: rgb(88, 34, 60);
    }
    
   
    
    #fwl {
        position: static;
        /*top: 0px;
        width: 90%;*/
        opacity: .95;
        max-width: 1100px;
        height: 16vh;
        width: auto;
        
    }
    

    
    
    /*#top {
        z-index: 1000;
        position: fixed;
        top: 0;
        
    }*/
    /*#menu-container {
        position: fixed;
        top: 18.5%;
        left: 42.5%;
        width: 180px;
    }*/
#both {
    margin: 0;
    padding: 0;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 14px;
    border: 0;
    background-color: rgb(88, 34, 60);
}
#menu {
    display: none;
}
#menu-container {
    z-index: 0;
    display: flex;
    width: 70%;
    flex-direction: row !important;
    border: rgb(247, 246, 233) solid 0px;
    /*border-radius: 15px;*/
    background-color: rgb(88, 34, 60);
    padding-top: 2px;
    padding-bottom: 0;
    max-width: 90%;
    position: static;
    top: auto; 
    left: auto; 
    width: auto;
}

.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    /*transition: top 0.3s ease;*/
}
    
    
    #button-container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    position: static;
    background-color: rgb(88, 34, 60);
    width: 70%;
    margin: 0;
    border-radius: 15px;
    border: 0;
  
    
}
  
    #text-container {
        color: rgb(247, 246, 233);
        margin-top: 40px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'ClaireBold';
        width: 150px;
        height: 30px;
        font-size: 18px;
        border: rgb(88, 34, 60) solid 1px;
        border-bottom: rgb(88, 34, 60) solid 2px;
        background-color: rgb(130, 135, 32);
        border-radius: 0;
        color:rgb(247, 246, 233);
        margin-left: .5px;
        margin-right: .5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    button:hover {
        background-color: #c37028;
        color: rgb(247, 246, 233);
        border-color: rgb(88, 34, 60);
    }

    button:active {
        background-color: #9e5a1e;
        color: rgb(247, 246, 233);
        border-top: #550144 solid 2px;
        border-bottom: #550144 solid 1px;
        transform: translateY(1px);
    }

    #art {
        margin-left: 0;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }
    #support {
        margin-right: 0;

        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
    }

   

   
    #about-container {
        width: 30vw;
        font-size: 25px;
        padding: 1vw;
        align-items: center;
    }

    /*Buttons:
    #art, #out {
        width: 90px;
    }
    #shop {
        width: 110px;
    }
    #about {
        width: 130px;
    }*/


#art-container, #out-container, #about-container, #shop-container, #request-container, #support-container {
    width: 50vw;
    min-width: 600px; 
}

/*Images (desktop):*/


.art, .out {
    width: 400px;
    border-radius: 15px;
    border: rgb(242, 252, 211) solid 3px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(247, 246, 233);
}


#request-container, #shop-container {
    width: 350px !important;
    min-width: 350px !important;
}

#support-container {
    justify-content: center;
    text-align: center;
    width: 250px !important;
    min-width: 250px !important;
}

#request-box {
    width: 300px;
}

/*#bmc-iframe {  
    height: 20px !important;
    width: 20% !important;
    min-width: 20px !important;
    min-height: unset !important;
    max-width: 20px;
    max-height: 30px;  }
*/
}