/* {border: black solid 1px;}*/

@font-face {
    font-family: 'Chido';
    src: url('chido.otf') format('opentype');
}

@font-face {
    font-family: 'ClaireBold';
    src: url('clairehandbold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.hidden {
    display: none !important;
}

body {  
    margin: 0;
    padding: 0;
    /*background-color: rgb(250, 237, 222);*/
    background-color: rgb(42, 6, 85);
    font-family: 'ClaireBold';
    font-size: 25px;
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#froggo-and-logo {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 21vh;
    background-color: rgb(42, 6, 85);

}

#fwl {
    position: fixed;
    top: 0px;
    width: 90%;
    opacity: .95;
    max-width: 1100px;
    height: 15vh;
    width: auto;
}

#request-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.page-open {
    justify-content: space-evenly !important;
}

#submit {
    justify-self: center;
    margin: 0 auto;
    width: 170px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(186, 92, 233);
}

#bodyInput {
    height: 100px;
    width: 320px;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

#text-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 21vh;
    width: 85%;

    text-align: center;
}

#support-container {
    flex-direction: column;
}



.input {
    border-radius: 15px;
    border: white solid 3px;
    background-color: white;
    color: rgb(42, 6, 85);
    font-family: 'ClaireBold';
    font-size: 16px;
    height: 30px;
    width: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#art-box, #shop-box, #request-box, #support-box {
    margin-bottom: 13vh;

}

.art, .out {
    width: 300px;
    border-radius: 15px;
    border: white solid 3px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#about-container, #shop-container, #request-container, #support-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 3px;
    border-radius: 15px;
    background-color: rgb(42, 6, 85);
    padding: 3vw;
    margin-bottom: 10vh;
    width: 85vw;
    font-size: 25px;
    color: white;
}
#out-box {
    padding-bottom: 10vh;
}

#ig-logo-container {
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    background-color: rgb(42, 6, 85);
    bottom: 0; /* Adjust as needed */
    width: 100vw; /* Adjust as needed */
    height: 51px;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it's above other content */
}
/*
 #ig-logo-container img {
    justify-self: center;
    width: 45px;
    height: auto;
} */

#ig-logo {
    height: auto;
    
    width: 45px;
}

#button-container {
    display: none;
    flex-direction: column;
    width: 170px;
    background-color: rgb(42, 6, 85);
    margin: 0;
    border-radius: 15px;
    /*overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;*/
}

#menu-container {
    display: block;
    border: white solid 1px;
    border-radius: 15px;
    background-color: rgb(42, 6, 85);
  position: fixed;
  top: 14%;
  left: 28%;
  width: 170px;
  margin: 0;
  z-index: 2000;
  
}

#menu {
    border: rgb(42, 6, 85);
    background-color: white;
    color: rgb(42, 6, 85);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ClaireBold';
    width: 170px;
    height: 50px;
    font-size: 40px;
    border: #2a0655 solid .1px;
    background-color: #2a0655;
    border-radius: 15px;
    color: white;
    /*cursor: pointer;
    flex: 0 0 auto;
    scroll-snap-align: start;*/
}

/*Buttons (phone):
#request, #support {
    width: 150px;
}
#art, #out {
    width: 85px;
}
#shop {
    width: 95px;
}
#about {
    width: 120px;
}*/

.open-buttons {
    font-size: 30px;
    width: 110px;
}

/*.indicator {
    display: none;
    font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;

}*/



@media (width > 799px) {

    body {
        font-size: 20px;
    }
    button {
        width: 180px;
        height: 34px;
        font-size: 30px;
    }

    #menu-container {
        position: fixed;
        top: 15.5%;
        left: 42.5%;
        width: 180px;
    }
    
    #button-container {
        
        right: 30px;
    }

    /*.open-buttons {
        width: 200px;
        height: 40px;
        font-size: 25px;
    }*/

    #froggo-and-logo {
        justify-content: center;
        margin: 0;
        height: 22vh;
    }


    #fwl {
        max-width: 800px;
        height: 19vh;
        
    }

    .art, .out {
        
        width: 35vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    #about-container {
        width: 30vw;
        font-size: 25px;
        padding: 1vw;
        align-items: center;
    }

    /*Buttons:
    #art, #out {
        width: 90px;
    }
    #shop {
        width: 110px;
    }
    #about {
        width: 130px;
    }*/


#art-container, #out-container, #about-container, #shop-container, #request-container, #support-container {
    width: 50vw;
    min-width: 600px; 
}

/*Images (desktop):*/
.art, .out {
    width: 400px;
    border-radius: 15px;
    border: white solid 3px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
}






#text-container {
    color: white;
    margin-top: 22vh;
}
#request-container, #shop-container {
    width: 350px !important;
    min-width: 350px !important;
}


#support-container {
    justify-content: center;
    text-align: center;
    width: 250px !important;
    min-width: 250px !important;
}

#request-box {
    width: 300px;
}

/*#bmc-iframe {  
    height: 20px !important;
    width: 20% !important;
    min-width: 20px !important;
    min-height: unset !important;
    max-width: 20px;
    max-height: 30px;  }
*/
}